.top-container{
  display: flex;
  justify-content: space-between;
}

#logo_image {
max-width: 15%;
height: auto;
}

#user_wrapper {
display: flex;
width: auto;
}

#user_info {
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-end;
height: auto;
width: auto;
margin: 1rem;
}

#user_pic {
height: 2em;
width: 2rem;
overflow: hidden;
border-radius: 50%;
margin-right: 1rem;
}

#user_name{
  font-size: 18px;
}

#profile_pic {
height: 100%;
width: 100%;
object-fit: contain;
}

#navbar_container {
border-top: 1px solid grey;
width: auto;
height: 4rem;

}

.booking_result-container h2{
    margin: 15px 0;
    display: flex;
    justify-content: center;
  }

tbody th, tbody td{
    min-width: 50px;
}

.center{
    display: flex;
    justify-content: center;
}

.bookings{
    width: 70%;
}

.home{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
  }

/* .table{
    
} */