body{
  height: 100vh;
}

.top-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 2;
    position: relative;
}

.topLeft{
  display: flex;
  align-items: flex-end;
}

#logo_image {
  cursor: pointer;
  align-self: center;
  max-width: 15%;
  height: auto;
}

.topRight{
  padding-bottom: 4px;
}

#user_info {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: auto;
  width: auto;
  margin: 1rem;
}


#login{
  cursor: pointer;
  font-family: Fantasy;

}

#user_pic {
  height: 2em;
  width: 2rem;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 1rem;
}

#user_name {
  font-size: 18px;
  font-family: Fantasy;
}

#profile_pic {
  height: 100%;
  width: 100%;
  object-fit: contain
}

nav {
  width: auto;
  height: 4rem;
  font-family: Fantasy;
}

.shopPic {
  object-fit: cover;
  width: 100%;
  height: 100%;
  
  position: relative;
  
}

.mainContent {
  
  /* justify-content: center; */
  position: relative;
  height: 100%;
}

.desBox {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5rem;
  border-radius: 10px;;
  /* width: 35rem;
  height: 11rem; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  

}

.decButton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  font-family: Fantasy;



}

.desBox h5 {
  font-size: 20px;
  font-family: Fantasy, Papyrus;
  display: flex;
  
  text-align: center;


}
.desBox button {
  background-color: rgb(255, 0, 0);
  color: aliceblue;
  border: solid 1px white;
  border-radius: 10px;
  padding: 1rem;
  font-size: 15px;
}

.image-container {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  width: 15rem;
  height: 15rem;
  position: relative;
}

.image-container img{
  width: 100%;
  height: auto;
}

.myStyleBooking  {
  margin: 1rem 1rem 1rem 0rem;
  background-color: rgb(255, 0, 0);
  color: white;
  border: 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 10px;
  font-size: 15px;
  font-family: Fantasy;

}

.myStyleRemove {
  margin: 2rem;
  background-color: rgb(225, 225, 225);
  border: 0;
  border-radius: 10px;
  font-size: 15px;
  position: absolute;
  top: -2.5rem;
  left: 12rem;
  padding: 0rem 0.8rem 0rem 0.8rem;
  color: rgb(95, 95, 95);
  font-family: Fantasy;

}


#resultImg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}
#headerStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 2rem;
}

#headerStyle {
  font-family: Fantasy;

}


.container-fluid{
  height: 100%;
}

.img{
  height:100%
}