body{
  height: 100vh;
}

.top-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 2;
    position: relative;
}

.topLeft{
  display: flex;
  align-items: flex-end;
}

#logo_image {
  cursor: pointer;
  align-self: center;
  max-width: 15%;
  height: auto;
}

.topRight{
  padding-bottom: 4px;
}

#user_info {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: auto;
  width: auto;
  margin: 1rem;
}

#user_pic {
  height: 2em;
  width: 2rem;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 1rem;
}

#user_name {
  font-size: 18px;
  font-family: Fantasy;
}

#profile_pic {
  height: 100%;
  width: 100%;
  object-fit: contain
}

nav {
  width: auto;
  height: 4rem;
  font-family: Fantasy;
}

#photo_container {
  /* border: 1px solid black; */
  height: auto;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: Fantasy;
}

#vl {
  border-left: 1px solid grey;
  height: 98%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#remove_preview {
  position: relative;
  left: 50rem;
}

#user_image {
  border: 1px dotted black;
  height: 35rem;
  width: 35rem;
  min-width: 35rem;
  margin: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#output_image {
  border: 1px dotted black;
  height: 35rem;
  min-width: 35rem;
  max-width: 35rem;
  margin: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#result_wrap {
  height: 35rem;
  min-width: 35rem;
  max-width: 35rem;
  margin: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#result_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#style_confirm {
  height: 3rem;
  width: 100%;
  align-items: center;
}

@media (max-width: 65rem) {
  #photo_container {
    flex-direction: column;
    align-items: center;
  }
  #vl {
    display: none;
  }
}

#result_wrap {
  height: auto;
  width: 65rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  align-items: center;
  justify-content: center;
}

#uploaded_image {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

#loading_img {
  width: 5rem;
  height: 5rem;
}

#result_image {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

#image_file {
  border: 1px solid black;
  width: auto;
  height: auto;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: xx-large;
}

#submit_photo {
  border: 1px dotted black;
  width: auto;
  height: 10rem;
  margin-left: 8rem;
  margin-right: 8rem;
}

#webcam_submit {
  border: 1px dotted black;
  width: auto;
  height: 5rem;
  margin-left: 8rem;
  margin-right: 8rem;
  margin-top: 2rem;
}

#change_select {
  border: 1px solid black;
  width: auto;
  height: auto;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: xx-large;
}

#check_boxes {
  width: auto;
  height: auto;
  margin-left: 8rem;
  margin-right: 8rem;
  display: flex;
  justify-content: space-around;
}

select {
  border: 2px solid black;
  background-color: white;
  width: 30rem;
  height: 3rem;
  font-size: 23px;
  font-family: Fantasy;
}

input#textInput {
  border: 2px solid black;
  background-color: white;
  width: 30rem;
  height: 3rem;
  font-size: 23px;
}

#suggestions {
  border: 1px solid black;
  width: auto;
  height: auto;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: xx-large;
}

#predict_message {
  width: auto;
  height: auto;
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#style_select {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
}

#hair_selection {
  border: 1px solid black;
  font-size: larger;
  width: 50rem;
  min-height: 3rem;
  max-height: auto;
  margin-left: 8rem;
  margin-right: 8rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#preview {
  width: 30rem;
  height: 30rem;
}
#preview_img {
  width: 100%;
  height: 100%;
}

#preview_select {
  width: auto;
  height: 5rem;
  margin: 5rem;
  display: flex;
  justify-content: space-around;
}

button.btn {
  font-size: 30px;
}

.popup_message {
  font-size: 18px;
}

#All_reset {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 8rem;
  margin-top: 7rem;
}

#loading_img {
  position: relative;
  left: 15rem;
  bottom: 5rem;
}

#action_btn {
  margin-top: 5rem;
}
