#logo {
  height: 10rem;
  width: 14rem;
}

#logo_image {
  max-width: 100%;
  height: auto;
}

#main_content {
  display: flex;
  width: auto;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

#user_info {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  width: auto;
  margin: 1rem;
}

#user_pic {
  border: 1px solid black;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}
