#logo {
  height: 10rem;
  width: 14rem;
}

#logo_image {
  max-width: 100%;
  height: auto;
}

#user_wrapper {
  display: flex;
  width: auto;
  margin-left: 5rem;
  margin-right: 5rem;
}

#user_info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  width: auto;
  margin: 1rem;
}

#user_pic {
  height: 2.5rem;
  width: 2.5rem;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 1rem;
}

#profile_pic {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#navbar_container {
  border-top: 1px solid grey;
  width: auto;
  height: 4rem;
  margin-left: 6rem;
  margin-right: 6rem;
}

#photo_container {
  border: 1px solid black;
  height: 50rem;
  width: auto;
  margin-left: 6rem;
  margin-right: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#vl {
  border-left: 1px solid grey;
  height: 98%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#user_image {
  border: 1px solid black;
  height: auto;
  width: 65rem;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#output_image {
  border: 1px solid black;
  height: auto;
  width: 65rem;
  margin: 2rem;
}

#style_confirm {
  height: 3rem;
  width: 100%;
  align-items: center;
}

#result_wrap {
  height: auto;
  width: 65rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#uploaded_image {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

#loading_img {
  width: 5rem;
  height: 5rem;
}

#result_image {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

#image_file {
  border: 1px solid black;
  width: auto;
  height: auto;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: xx-large;
}

#submit_photo {
  border: 1px dotted black;
  width: auto;
  height: 10rem;
  margin-left: 8rem;
  margin-right: 8rem;
}

#webcam_submit {
  border: 1px dotted black;
  width: auto;
  height: 5rem;
  margin-left: 8rem;
  margin-right: 8rem;
  margin-top: 2rem;
}

#change_select {
  border: 1px solid black;
  width: auto;
  height: auto;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: xx-large;
}

#check_boxes {
  border: 1px solid black;
  width: auto;
  height: auto;
  margin-left: 8rem;
  margin-right: 8rem;
  display: flex;
  justify-content: space-around;
}

select {
  border: 2px solid black;
  background-color: white;
  width: 30rem;
  height: 3rem;
  font-size: 23px;
}

input#textInput {
  border: 2px solid black;
  background-color: white;
  width: 30rem;
  height: 3rem;
  font-size: 23px;
}

#suggestions {
  border: 1px solid black;
  width: auto;
  height: auto;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: xx-large;
}

#predict_message {
  width: auto;
  height: auto;
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hair_selection {
  border: 1px dotted black;
  font-size: larger;
  width: auto;
  min-height: 3rem;
  max-height: auto;
  margin-left: 8rem;
  margin-right: 8rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

#preview_select {
  width: auto;
  height: 10rem;
  margin: 5rem;
  display: flex;
  justify-content: space-around;
}

button.btn {
  font-size: 30px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 9999;
}

.popup_message {
  font-size: 18px;
}
